

.detail-main{
    display: flex;
}





.detailImg-more{
    margin-top: 70px !important;
}

.detailImg{
    border: 2px solid blueviolet;
    height: 15rem;
    width: 15rem;
}

.detailImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}