body{
    margin: 0;
    padding: 0;
    background-color: #d4c6c679;
    font-family: sans-serif;
}

.title{
    text-align: center;
    padding: 50px 0 20px;
}

.title h1{
    margin: 0;
    padding: 0;
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
}

.formContainer{
    width: 30%;
    height: 400px;
    background: #fff;
    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}
@media (max-width: 567px) {
    .formContainer{
        width: 80%;
        height: 400px;
        background: #fff;
        margin: 5px auto 25px;
        border: 2px solid #fff;
        box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
    }
}

/**/
.formBox{
    width: 100%;
    padding: 40px 40px;
    box-sizing: border-box;
    height: 400px;
    background: #fff;
}

.formBox input{
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
}

.formBox input[type="text"],
.formBox input[type="email"],
.formBox input[type="password"]
{
    border: none;
    border-bottom: 2px solid #a6af13;
    outline: none;
    height: 30px;
}

.formBox input[type="text"]:focus,
.formBox input[type="email"]:focus,
.formBox input[type="password"]:focus
{
    border-bottom: 2px solid #262626;
}

.formBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: #262626;
    cursor: pointer;
}

.formBox input[type="submit"]:hover
{
    background: #a6af13;
}

.formBox a{
    color: #a6af13;
    font-size: 18px;
    text-decoration: none;
}
.formBox p{
    font-size: 18px;
    
}

